subscription_id             = "00000000-0000-0000-0000-000000000000"
openai_embedding_deployment = "text-embedding-3-large"
openai_gpt_deployment       = "gpt-4o-mini"
openai_gpt_model_name       = "gpt-4o-mini"
